spring.application.name=TroodProjectManagement

spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
spring.profiles.active=test

firebase.credentials=firebase/firebase-service-account.json
firebase.database-url=https://your-project-id.firebaseio.com